/*   

UMMA Custom Mobile
Drupal sub-theme for Framework 
by Cathy Fisher

*/

/*   =============================        COLORS        =============================   */
/*

Header/footer background (with texture): rgba(49, 67, 88, .7) 
Keypad background (without texture): #334254
Body background: #fffdf5
Link: #425973
Link hover: #4775A3
Gold highlight: #ffd74e

*/


/*   =============================        GLOBAL        =============================   */

html { -webkit-font-smoothing: antialiased; }
body {
	position: relative;
	font-size: 14px;
	min-height: 500px;	
	background-color: #c4b599;
}
a {
	color: #425973;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}
a:visited {
	color: #425973;
}
a:hover {
	color: #4775A3;
}
h1, h2, h3, h4, h5 {
	font-weight: bold;
}

h1 {
	color: #ffd74e;
	text-shadow: 2px 2px 1px black;
	font-size: 3em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: .5em;
	line-height: .75;
}
h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
}
p:last-child {
	margin-bottom: 0;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	width: 100%;
	height: 360px;
}
th {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
em { 
	font-style: italic;
}

.item-list .pager {
	font-size: 2em;
	margin-top: 30px;
}
.pager {
	display: block;
	width: 100%;
	position: relative;
	height: 30px;
}
.tour-list .pager-previous a,
.tour-list .pager-next a,
.object-details-block .pager-previous a,
.object-details-block .pager-next a {
	display: inline-block;
	background-color: rgba(0,0,0,.1);
	width: 30%;
	padding: 10px 0 15px;
	position: absolute;
	top: -.35em;
	font-size: 1.5em;
	transition: all .5s;
}
.pager .pager-previous a:hover,
.pager .pager-next a:hover {
	background-color: rgba(0,0,0,.3);
}
.pager .pager-previous a {
	left: 0;
}
.pager .pager-next a {
	right: 0;
}
.pager-current {
	font-size: .5em;
}

/*   =============================        LAYOUT        =============================   */

#container {
	width: 100%;
	max-width: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
}
.content-width {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

body,
.region-footer,
.region-header {
	background-color: rgba(49, 67, 88, .7);
	background-image: url('../images/beige_paper.png');
}

.page-body {
	padding: 20px 30px;
	overflow: hidden;
	background-color: #fffdf5;
}

body.sidebar-first #main {
	width: 65%;
}
body.sidebar-first #sidebar-first {
	width: 33%;
	
}


/*   =============================        HEADER        =============================   */

#header {
	padding: 0;
	background-color: #fffdf5;
}
#header .block, #header p,#header ul {
	margin: 0;
}
.region-header {
	padding: 20px 0;
	overflow: hidden;
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, .5);
}
.header-spacer {
	height: 70px;
}
#header #logo {
	display: block;
	width: 250px;
	height: 30px;
	margin: 0;
}
#navigation {
	height: 150px;
	overflow: hidden;
}
.splash-image img {
	width: 100%;
	height: auto;
	margin-top: -45%;
}
.breadcrumb {
	display: none;
}
#navigation {
	position: relative;
}
.nav-title-container {
	height: 150px;
	text-align: center;
}
#navigation .page-title { 
	display: inline-block;
	padding-top: 0;
}
.page-body .page-title { display: none; }
.resource-page .page-body .page-title { display: block; }




/*   -----------------------------       Main Menu      -----------------------------   */

.main-nav-menu {
	width: 350px;
	float: left;
	font-size: 1.2em;
	margin-top: 3px !important;
}
	.main-nav-menu .block-title {
		display: none;
	}
	.main-nav-menu .menu {
		padding-left: 0;
	}
		.main-nav-menu .leaf {
			display: inline;
		}
			.main-nav-menu .leaf a {
				display: inline-block;
				padding: 5px 8px;
				margin: 0 5px;
				color: #ffd74e;
				background-color: rgba(255, 255, 255, 0.1);
				-webkit-transition: all ease .5s;
				-moz-transition: all ease .5s;
				-o-transition: all ease .5s;
				-ms-transition: all ease .5s;
				transition: all ease .5s;
			}
			.main-nav-menu .leaf a:hover,
			.main-nav-menu .leaf a.active {
				background-color: rgba(255, 255, 255, 0.3);
			}


/*   -----------------------------     Search Form      -----------------------------   */

#block-search-form {
	width: 200px;
	position: absolute;
	right: 40px;
	top: 10px;
}
#block-search-form form {
	margin: 0;
}
input.form-text {
	width: 125px;
}
input.form-submit {
	padding: 3px 5px;
	width: 50px;
	font-size: 8pt;
}


/*   =============================        SIDEBAR        =============================  */

aside {
	font-size: .9em;
}
	aside .views-row {
		margin-bottom: 1em;
	}
	aside h3 {
		font-weight: bold;
	}

.sidebar .block {
	background-color: rgba(0, 0, 0, .08);
	padding: 15px;
	margin-bottom: 25px;
}

.region-sidebar-first {
	margin: 0px;
}
.region-sidebar-first h2 {
	margin: 1em 0;
	padding: 0;
	border-bottom: 0;
}

#sidebar-first .views-field-title-field {
	font-weight: bold;
}





/*   =============================       CONTENT       =============================    */


#main > .content {
	/*margin-bottom: 2em;*/
}

.node-teaser {
	border-bottom: 0px solid rgba(0,0,0,.3);
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.item-list ul {
	list-style-type: none;
	padding: 0;
	/*background-color: rgba(0,0,0,.05);*/
}

.block-title {
	padding: .3em;
	margin: .5em 0 0em 0;
	border-bottom: 1px solid #ffd74e;
}



/*   -----------------------------        Icons         -----------------------------   */


/*.sprite {
	background-image:url('../images/main.svg');
	background-size: auto 100%;
}*/
.sprite--stop-type {
	font-size: 0;
	color: transparent;
	position: absolute;
	width: 51px;
    height: 50px;
    display: block;
    z-index:0;
}

.sprite--stop-type--s {
	background-image:url('../images/main.svg');
	background-size: auto 100%;
	height: 30px;
	width: 31px;
	top: 50%;
	left: 0;
	margin-top: -15px;
}
	.Audio .sprite--stop-type--s { background-position: -69px 0px; }
	.Video .sprite--stop-type--s { background-position: -3px 0px; }
	.Image .sprite--stop-type--s { background-position: -167px 0px; }
	.Information .sprite--stop-type--s { background-position: -134px 0px; }
	.Poll .sprite--stop-type--s { background-position: -101px 0px; }
	.Geographic .sprite--stop-type--s { background-position: -36px 0px; }
	.Website .sprite--stop-type--s { background-position: -200px 0px; }


.sprite--stop-type--m {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
}	
.sprite--stop-type--m a {
	background-image:url('../images/main.svg');
	background-size: auto 100%;
	height: 50px;
	width: 51px;
	top: 50%;
	margin-top: -25px;
	left: 5px;
	position: absolute;
}
	.Audio .sprite--stop-type--m a { background-position: -115px 0px; }
	.Video .sprite--stop-type--m a { background-position: -5px 0px; }
	.Image .sprite--stop-type--m a { background-position: -279px 0px; }
	.Information .sprite--stop-type--m a { background-position: -225px 0px; }
	.Poll .sprite--stop-type--m a { background-position: -170px 0px; }
	.Geographic .sprite--stop-type--m a { background-position: -60px 0px; }
	.Website .sprite--stop-type--m a { background-position: -334px 0px; }

.sprite--stop-type--l {
	background-image:url('../images/main.svg');
	background-size: auto 100%;
	height: 60px;
	width: 65px;
	margin-top: 8px;
}
	.node-type-tour-audio-stop .sprite--stop-type--l { background-position: -137px 0px; }
	.node-type-tour-video-stop .sprite--stop-type--l { background-position: -6px 0px; }
	.node-type-tour-image-stop .sprite--stop-type--l { background-position: -335px 0px; }
	.node-type-information-stop .sprite--stop-type--l { background-position: -269px 0px; }
	.node-type-poll-stop .sprite--stop-type--l { background-position: -203px 0px; }
	.node-type-tour-geo-stop .sprite--stop-type--l { background-position: -72px 0px; }
	.node-type-website-stop .sprite--stop-type--l { background-position: -401px 0px; }






/*   -----------------------------        Fields        -----------------------------   */


.field-collection-view,
.field-type-field-collection,
.field-type-image {
	margin: 0;
	padding: 0;
}
.field-type-image {
	text-align: center;
}
.view-content-selection {
	font-size: .9em;
}
.field-name-field-caption {
	font-style: italic;
	font-size: .9em;
}
.field-name-field-quote {
	display: block;
	background-color: rgba(0,0,0,.05);
	border-left: 5px solid #FFD74E;
	padding: 10px;
	padding-left: 40px;
	margin: 0 0 10px 0;
	font-style: italic;
}

.field-name-field-tour-audio a {
	color: #ffd74e;
}
.file-icon {
	display: none;
}
div.jp-interface,
div.jp-playlist {
	border: 0;
}
div.jp-audio {
	margin: 0 auto;
	width: 400px;
	max-width: 100%;
	overflow: hidden;
}

#main .view-tour-resources {
	margin-top: 2em;
}
.field-name-field-ois-display-artist {
	font-style: italic;
	font-size: 1.2em;
}
.field-type-link-field a {
	display: block;
	width: 100%;
	padding: 20px 0;
	margin: 1em 0;
	text-align: center;
	font-size: 2em;
	background-color: #ffd74e;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}



/*   =============================     PAGE-SPECIFIC    =============================   */


/*   -----------------------------      Tours Page      -----------------------------   */


.tour-list ul.links.inline {
	display: none;
}

.tour-list-item {
	position: relative;
	padding: 0px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	height: 200px;
}
	.tour-list-item__image {
		margin: 0;
		padding: 0;
		width: 100%;
	}
		.tour-list-item__image img {
			height: 100%;
			width: auto;
			max-width: none;
			min-width: 100%;
			transition: all .5s;
			-moz-transition: all .5s;
			-webkit-transition: all .5s;
		}
		.tour-list-item__image img:hover {
			opacity: .4;
		}
	.tour-list-item__title {
		margin: 0;
		padding: 0;
	}
		.tour-list-item__title a {
			text-shadow: 2px 2px 0px black;
			position: absolute;
			z-index: 10;
			display: block;
			padding: 10px;
			color: #FFD74E;
			font-size: 1.5em;
		}
	.tour-list-item__description {
		display: block;
		font-size: .95em;
		position: absolute;
		bottom: 0px;
		background-color: rgba(0,0,0,.6);
		color: white;
	}
		.tour-list-item__description p {
			margin: 0;
			padding: 5px;
			font-size: 1.1em;
			line-height: 1.2;
		}
		.tour-list-item__description p:after {
			content: " ...";
		}

.tour-set {
	border-bottom: 1px solid rgba(0,0,0,.3);
	padding-bottom: 20px;
}
.ref-tours-block {
	margin-top: 15px;
}
.ref-tour {
	width: 25%;
	height: 150px;
	overflow: hidden;
	float: left;
	position: relative;
}
.ref-tour__title {
	margin: 0;
}
.ref-tour__title a {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	display: block;
	background-color: transparent;
	color: transparent;
	padding: 10px 0 0 10px;
}
.ref-tour__title a:hover {
	background-color: rgba(0,0,0,.5);
	color: #FFD74E;
}
.ref-tour__image img {
	min-height: 150px;
	max-width: none;
}

/*   -----------------------------      Tour Pages      -----------------------------   */

/* Custom icons for each stop type */

.tour-resource {
	position: relative;
}

.tour-resource--page {
	margin: 20px 0;
	display: block;
	height: 100px;
	background-repeat: no-repeat;
	background-position: 15px 50%;
	background-size: auto 35px;
	box-sizing: border-box;
	padding: 20px 10px 20px 65px;
}

.tour-resource__object-image {
	position: absolute;
	right: 13px;
	top: 50%;
	margin-top: -38px;
}

.tour-resource__title {
	font-weight: bold;
	margin: 0;
	display: block;
}
.tour-resource--page .tour-resource__title a {
	position: absolute;
	display: block;
	z-index: 5;
	width: 100%;
	height: 100%;
	padding: 20px 10px 20px 65px;
	margin: -20px -10px -20px -65px;
	box-sizing: border-box;
	line-height: 2.3;
	background-color: rgba(0,0,0,.1);
	border-radius: 15px;
}
.tour-resource__object-location {
	margin-top: 2em;
}
.tour-resource--page .tour-resource__title a:hover {
	background-color: rgba(0,0,0,.2);
}



/*   -----------------------------      Stop Pages      -----------------------------   */

.resource-page #navigation { display: none; }
.page-title__resource-title { 
	font-size: 2.5em;
	padding: 0;
}
.title-icon-cell {
	width: 67px;
}
.title-cell {
	vertical-align: middle;
	line-height: 1;
}
.resource-page #block-views-splash-image-stop-splash-img {
	display: none;
}

.resource-page .page-body {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
}

.sidebar .object-details-block {
	background-color: rgba(148,164,176,.6);
	border-radius: 5px;
	text-shadow: 1px 1px 2px rgba(255,255,255,.4);
}
.object-details-block h2 {
	font-size: 1.3em;
	padding-bottom: .3em;
	margin: 1em 0;
	font-weight: bold;
}
	.object-details__image {
		text-align: center;
	}
	.object-details__title {
		margin-top: .2em;
	}

/*.resource-page .stop-type-icon {
	top: 6px;
	left: 0;
}
.stop-listing-block .stop-type-icon {
	width: 25px;
	height: 25px;
	left: 5px;
	top: 50%;
	background-size: auto 100%;
	margin-top: -13px;
}
*/
.tour-resource--block {
	margin: 0;
	background-color: transparent;
	padding-left:  35px;
	margin: 7px 0;
}
.stop-listing-block .tour-resource__title a {
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	display: block;
	padding: 5px 0 5px 3px;
	border-left: 3px solid transparent;
}
.stop-listing-block .tour-resource__title a.active, 
.stop-listing-block .tour-resource__title a:hover {
	color: black;
	border-left: 3px solid #ffd74e;
}

.stop-listing-block  {
	margin: 0;
}

/*   -----------------------------        Map Page       -----------------------------  */

.level {
	border-bottom: 1px solid rgba(0,0,0,.5);
	padding-bottom: 2em;
	padding-top: .25em;
}
	.level__block {
		width: 49%;
		float: left;
		margin-right: 1%;
		min-height: 200px;
	}
		.level__block h3 {
			margin-bottom: .5em;
		}

.map-header-nav {
    margin-bottom: 0;
}
    .level-selection {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
        .level-selection li {
            display: inline;
            margin-right: 4%;
        }
        .level-selection li:last-child {
            margin-right: 0;
        }
            .level-nav {
                cursor: pointer;
            }
                .level-nav img {
                    width: 75px;
                    max-width: 18%;
                    opacity: .5;
                }
                .level-nav img:hover {
                    opacity: 1;
                }

.back-to-top {
    clear: both;
    text-align: right;
}
    .inter-nav-top {
        cursor: pointer;
        font-weight: bold;
    }
    .inter-nav-top:after {
        content: "↑";
        padding: 0 .5em;
    }


/*   -----------------------------  Objects by Gallery  -----------------------------   */

@media screen and (min-width: 621px) {
	.objects-by-gallery {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
	}
}
	.object-info-item {
		margin-bottom: 1.5em;
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(0,0,0,.2);
		display: inline-block;
		width: 100%;
	}
		.object-info-item__title {
			margin-top: .2em;
		}
		.object-info-item__image {
			text-align: center;
		}



/*   -----------------------------      Error Pages     -----------------------------   */

/* Show image banner on 404 error page */
.page-node-2056 #navigation { display: block; }
.page-node-2056 .page-body .page-title { display: none; }







/*   =============================        FOOTER        =============================   */

#footer {
	padding: 0;
}
.region-footer {
	color: #F7F0D5;
	text-align: center;
	font-size: .85em;
	padding: 30px 0 25px;
}
.region-footer a {
	color: #ffd74e;
}
.region-footer ul {
	list-style-type: none;
	text-align: center;
}
.region-footer li {
	display: inline-block;
	margin-right: 1em;
}

.find-an-object {
	font-size: 2em;
}



/*   =============================        SPECIAL        =============================  */


/*   -----------------------------        Keypad        -----------------------------   */


.keypad-wrapper {
	z-index: 3;
	transition: all ease 1s;
	-webkit-transition: all ease 1s;
}
.keypad-form {
	margin: 0;
	position: absolute;
	right: 0px;
	background-color: rgb(224, 190, 71);
	padding: 5px 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.keypad-display {
	font-size: 2em;
	width: 3.25em;
	padding: .15em .25em;
}
form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.keypad-wrapper input[type="submit"] {
	display: inline-block;
	font-size: 1.5em;
	box-sizing: content-box;
	vertical-align: top;
	margin: 5px 0;
	padding: 5px 7px;
	background-color: rgb(230, 224, 224);
	border-radius: 5px;
	cursor: pointer;
}

/* Keypad display controls */
.show-hide {
	width: 49px;
	position: absolute;
	top: -5px;
	z-index: 20;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 0px;
	height: 45px;
	/*-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}
.show-hide--code {
	right: 10px;
}
.show-hide--back {
	left: 10px;
	background-image: url('../images/back.svg');
}
.show-hide:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.pad {
	background-image: url('../images/keypad.svg');
}
.list {
	background-image: url('../images/list.svg');
}
.x {
	background-image: url('../images/X.svg');
}



/*   -----------------------------         Maps         -----------------------------   */


svg {
	font-family: Helvetica, Arial, sans-serif;
}
.map {
	width: 100%;
	min-width: 200px;
	height: 50%;
}
.room {
	fill: azure;
	opacity: 0;
  	stroke: lightsteelblue;
  	stroke-width: 1;
}
.room:hover {
	opacity: .5;
}	




/*   =============================      RESPONSIVE      =============================   */


@media screen and (min-width: 621px) {
	#header #logo {
		margin: -3px 15px 0 15px;
	}
	.show-hide--menu {
		display: none;
	}
}
@media screen and (max-width: 940px) {
	#container { margin: 0; }
	#container, .region-header, .region-footer { border-radius: 0px; }
}

@media screen and (max-width: 800px) {
	#block-search-form { display: none; }
}

@media screen and (max-width: 700px) {
	body.sidebar-first #main { width: 100%; float: none; }
	#main > .content { padding: 0px; }
	body.sidebar-first #sidebar-first { width: 100%; float: none; }
	#container { width: 100%; }
	h1 { font-size: 3em; }
	
	#navigation { height: 100px; }
	.nav-title-container {
		height: 100px;
	}
	.page-body { padding: 10px; }
}


@media screen and (max-width: 630px) {	
	body { font-size: 14px; }
	.region-header { 
		padding: 10px 0; 
		position: relative;
		height: 40px;
		transition: all ease .5s;
		-webkit-transition: all ease .5s;
	}
		#header #logo { 
			width: 100% !important;
			text-align: center;
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		#header #logo img {
			margin-top: 5px;
			width: 175px;
		}
		ul.menu { padding: 0;}
		.expanded {
			height: 80px;
		}
		
	.main-nav-menu {
		width: 100%;
		text-align: center;
		margin-top: 40px !important;
		position: absolute;
		bottom: -80px;
		display: block;
	}
		.main-nav-menu .menu {
			text-align: center;
			margin: 0;
			padding: 0;
		}
			.main-nav-menu .leaf { display: inline; }
				.main-nav-menu .leaf a {
					padding: 3px 5px;
					margin: 0 3px;
					color: #ffd74e;
					background-color: transparent;
					-webkit-transition: none;
					-moz-transition: none;
					-o-transition: none;
					-ms-transition: none;
					transition: none;
				}
					.main-nav-menu .leaf a.active { background-color: rgba(255, 255, 255, 0.3); }
	
	.show-hide--code {
		top: 0px;
		right: 10px;
	}
	.show-hide--menu {
		top: 0px;
		left: 10px;
	}
	.header-spacer {
		height: 0;
	}
	.keypad-wrapper {
		z-index: 3;
	}
	.keypad-display {
		padding: .2em .35em;
		font-size: 2em;
	}
	.keypad-form {
		position: static;
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.tour-index-button a {
		top: 7px;
		left: 5px;
	}
	#keypad-wrapper {
		left: 0;
		margin: 0;
	}
	.show-hide, #block-views-title-block-title-block a { display: block !important; }
	#navigation .page-title {
		margin-top: 0;
		font-size: 2.25em;
	}
	.page-title__resource-title {
		margin-top: 20px;
		text-shadow: 1px 1px 1px black;
		margin-top: 0;
		font-size: 1.75em;
		line-height: 1;
		width: auto;
		padding-right: 0;
	}
	#main .block-title {
		margin-top: 0px;
	}
	#main .view-tour-resources {
		margin-top: 0;
	}
	#main .tour-resource:first-child {
		margin-top: 0;
	}
}



/*   =============================      UTILITIES      =============================    */

.hidden { display: none !important; }
.ajax-progress-throbber { display: none; }
/*Hide admin tabs for anonymous users*/
.not-logged-in .tabs-wrapper, .not-logged-in #tap-export-tourml-form {
	display: none;
}