/*   

UMMA Custom Mobile
Drupal sub-theme for Framework 
by Cathy Fisher

*/

/*   =============================        COLORS        =============================   */
/*

Header/footer background (with texture): rgba(49, 67, 88, .7) 
Keypad background (without texture): #334254
Body background: #fffdf5
Link: #425973
Link hover: #4775A3
Gold highlight: #ffd74e

*/


/*   =============================        GLOBAL        =============================   */

html { -webkit-font-smoothing: antialiased; }
body {
	position: relative;
	font-size: 14px;
	min-height: 500px;	
	background-color: #c4b599;
}
a {
	color: #425973;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
}
a:visited {
	color: #425973;
}
a:hover {
	color: #4775A3;
}
h1, h2, h3, h4, h5 {
	font-weight: bold;
}

h1 {
	color: #ffd74e;
	text-shadow: 2px 2px 1px black;
	font-size: 3em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: .5em;
	line-height: .75;
}
h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
}
p:last-child {
	margin-bottom: 0;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	width: 100%;
	height: 360px;
}
th {
	font-weight: bold;
}

.item-list .pager {
	font-size: 2em;
	margin-top: 30px;
}
.pager {
	display: block;
	width: 100%;
	position: relative;
	height: 30px;
}
.pager .pager-previous a,
.pager .pager-next a {
	display: inline-block;
	background-color: rgba(0,0,0,.1);
	width: 30%;
	padding: 10px 0 15px;
	position: absolute;
	top: -.35em;
	font-size: 1.5em;
	transition: all .5s;
}
.pager .pager-previous a:hover,
.pager .pager-next a:hover {
	background-color: rgba(0,0,0,.3);
}
.pager .pager-previous a {
	left: 0;
}
.pager .pager-next a {
	right: 0;
}
.pager-current {
	font-size: .5em;
}

/*   =============================        LAYOUT        =============================   */

#container {
	width: 100%;
	max-width: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
}
.content-width {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

#keypad-wrapper {
	background-color: #334254;
}

body,
.region-footer,
.region-header {
	background-color: rgba(49, 67, 88, .7);
	background-image: url('../images/beige_paper.png');
}

.page-body {
	padding: 20px 30px;
	overflow: hidden;
	background-color: #fffdf5;
}

body.sidebar-first #main {
	width: 65%;
}
body.sidebar-first #sidebar-first {
	width: 33%;
	background-color: rgba(0, 0, 0, .08);
}




/*   =============================        HEADER        =============================   */

#header {
	padding: 0;
}
#header .block, #header p,#header ul {
	margin: 0;
}
.region-header {
	padding: 20px 0;
	overflow: hidden;
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, .5);
}
.header-spacer {
	height: 75px;
}
#header #logo {
	display: block;
	width: 150px;
	height: 30px;
	margin: 5px 0 0 10px;
}
#navigation {
	height: 150px;
	overflow: hidden;
}
.splash-image img {
	width: 100%;
	height: auto;
	margin-top: -35%;
}
.breadcrumb {
	display: none;
}
#navigation {
	position: relative;
}
#navigation .page-title { 
	display: block; 
	text-align: center;
	margin-top: 3%;
}
.page-body .page-title { display: none; }




/*   -----------------------------       Main Menu      -----------------------------   */

.main-nav-menu {
	width: 350px;
	float: left;
	font-size: 1.2em;
	margin-top: 3px !important;
}
	.main-nav-menu .block-title {
		display: none;
	}
	.main-nav-menu .menu {
		padding-left: 0;
	}
		.main-nav-menu .leaf {
			display: inline;
		}
			.main-nav-menu .leaf a {
				display: inline-block;
				padding: 5px 8px;
				margin: 0 5px;
				color: #ffd74e;
				background-color: rgba(255, 255, 255, 0.1);
				-webkit-transition: all ease .5s;
				-moz-transition: all ease .5s;
				-o-transition: all ease .5s;
				-ms-transition: all ease .5s;
				transition: all ease .5s;
			}
			.main-nav-menu .leaf a:hover,
			.main-nav-menu .leaf a.active {
				background-color: rgba(255, 255, 255, 0.3);
			}


/*   -----------------------------     Search Form      -----------------------------   */

#block-search-form {
	width: 200px;
	position: absolute;
	right: 40px;
	top: 10px;
}
#block-search-form form {
	margin: 0;
}
input.form-text {
	width: 125px;
}
input.form-submit {
	padding: 3px 5px;
	width: 50px;
	font-size: 8pt;
}





/*   =============================       CONTENT       =============================    */


#main > .content {
	margin-bottom: 2em;
}
.node-teaser {
	border-bottom: 0px solid rgba(0,0,0,.3);
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.item-list ul {
	list-style-type: none;
	padding: 0;
	/*background-color: rgba(0,0,0,.05);*/
}


/*   -----------------------------        Icons         -----------------------------   */

.stop-type-icon {
	font-size: 0;
	color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -15px;
	left: -15px;
}


.node-type-tour .stop-type-icon {
	display: none;
}
.Audio .stop-type-icon,
.node-type-tour .Audio .stop-title a,
.node-type-tour-audio-stop .page-title {
	background-image: url('../images/icon-audio.png');
}
.Video .stop-type-icon,
.node-type-tour .Video .stop-title a,
.node-type-tour-video-stop .page-title {
	background-image: url('../images/icon-video.png');
}
.Image .stop-type-icon,
.node-type-tour .Image .stop-title a,
.node-type-tour-image-stop .page-title {
	background-image: url('../images/icon-image.png');
}
.Information .stop-type-icon,
.node-type-tour .Information .stop-title a,
.node-type-information-stop .page-title {
	background-image: url('../images/icon-info.png');
}
.Poll .stop-type-icon,
.node-type-tour .Poll .stop-title a,
.node-type-poll-stop .page-title {
	background-image: url('../images/icon-poll.png');
}
.Geo .stop-type-icon,
.node-type-tour .Geo .stop-title a,
.node-type-geo-stop .page-title {
	background-image: url('../images/icon-geo.png');
}


/*   -----------------------------        Fields        -----------------------------   */


.field-collection-view,
.field-type-field-collection,
.field-type-image {
	margin: 0;
	padding: 0;
}
.field-type-image {
	text-align: center;
}
.view-content-selection {
	font-size: .9em;
}
.field-name-field-caption {
	font-style: italic;
	font-size: .9em;
}
.field-name-field-quote {
	display: block;
	background-color: rgba(0,0,0,.05);
	border-left: 5px solid #FFD74E;
	padding: 10px;
	padding-left: 40px;
	margin: 0 0 10px 0;
	font-style: italic;
}

.field-name-field-tour-audio a {
	color: #ffd74e;
}
.file-icon {
	display: none;
}
div.jp-interface,
div.jp-playlist {
	border: 0;
}
div.jp-audio {
	margin: 0 auto;
	width: 400px;
	max-width: 100%;
	overflow: hidden;
}

#main .view-tour-stops {
	margin-top: 2em;
}
.field-name-field-ois-display-artist {
	font-style: italic;
	font-size: 1.2em;
}



/*   =============================     PAGE-SPECIFIC    =============================   */


/*   -----------------------------      Tours Page      -----------------------------   */


.tour-list ul.links.inline {
	display: none;
}

.tour-list-item {
	position: relative;
	padding: 0px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	height: 200px;
}
	.tour-list-item__image {
		margin: 0;
		padding: 0;
		width: 100%;
	}
		.tour-list-item__image img {
			height: 100%;
			width: auto;
			max-width: none;
			min-width: 100%;
			transition: all .5s;
			-moz-transition: all .5s;
			-webkit-transition: all .5s;
		}
		.tour-list-item__image img:hover {
			opacity: .4;
		}
	.tour-list-item__title {
		margin: 0;
		padding: 0;
	}
		.tour-list-item__title a {
			text-shadow: 2px 2px 0px black;
			position: absolute;
			z-index: 10;
			display: block;
			padding: 10px;
			color: #FFD74E;
			font-size: 1.5em;
		}
	.tour-list-item__description {
		display: block;
		font-size: .95em;
		position: absolute;
		bottom: 0px;
		background-color: rgba(0,0,0,.6);
		color: white;
	}
		.tour-list-item__description p {
			margin: 0;
			padding: 5px;
			font-size: 1.1em;
			line-height: 1.2;
		}
		.tour-list-item__description p:after {
			content: " ...";
		}

.tour-set {
	border-bottom: 1px solid rgba(0,0,0,.3);
	padding-bottom: 20px;
}
.ref-tours-block {
	margin-top: 15px;
}
.ref-tour {
	width: 25%;
	height: 150px;
	overflow: hidden;
	float: left;
	position: relative;
}
.ref-tour__title {
	margin: 0;
}
.ref-tour__title a {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	display: block;
	background-color: transparent;
	color: transparent;
	padding: 10px 0 0 10px;
}
.ref-tour__title a:hover {
	background-color: rgba(0,0,0,.5);
	color: #FFD74E;
}
.ref-tour__image img {
	min-height: 150px;
	max-width: none;
}

/*   -----------------------------      Tour Pages      -----------------------------   */

/* Custom icons for each stop type */

.tour-stop {
	position: relative;
	margin: 20px 0;
}

.tour-stop .stop-type-icon {
	top: 50%;
	left: 5px;
	margin-top: -25px;
}

.stop-title {
	font-weight: bold;
	margin: 0;
	display: block;
}

.node-type-tour .stop-title a {
	display: block;
	padding: 20px 10px 20px 65px;
	background-color: rgba(0,0,0,.1);
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: 15px 50%;
	background-size: auto 35px;
}
.node-type-tour .stop-title a:hover {
	background-color: rgba(0,0,0,.2);
}

.views-field-field-code {
	/*position: absolute;
	bottom: 10px;
	left: 65px;*/
	display: none;
}


/*   -----------------------------      Stop Pages      -----------------------------   */

.stop-page #navigation { display: none; }
.stop-page .page-body .page-title { 
	display: block;
	padding: 15px 0px 15px 60px;
	margin-bottom: 15px;
	width: 800px;
	max-width: 90%;
	background-repeat: no-repeat;
	background-position: 0px 50%;
}

.stop-page #block-views-splash-image-stop-splash-img {
	display: none;
}

.stop-page .page-body {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
}

.stop-page #header #logo {
	margin-left: 70px;
}

#block-views-object-info-block-1 {
	background-color: rgba(148,164,176,.6);
	padding: 5px 15px;
	border-radius: 5px;
	text-shadow: 1px 1px 2px rgba(255,255,255,.4);
}

#main .block-title {
	padding: .3em;
	margin: .5em 0 0em 0;
	border-bottom: 1px solid #ffd74e;
}

.object-detail-box h2 {
	font-weight: normal;
	font-size: 1.3em;
	padding-bottom: .3em;
	margin: 1em 0 0 0;
	text-align: left;
	text-transform: none;
	font-weight: bold;
}

.object-detail-box .field {
	padding: 0;
}

.stop-page .stop-type-icon {
	top: 6px;
	left: 0;
}
.stop-listing-block .tour-stop {
	margin: 0;
	background-color: transparent;
	padding-left:  35px;
	margin: 7px 0;
}
.stop-listing-block .stop-title a {
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	display: block;
	padding: 5px 0 5px 3px;
	border-left: 3px solid transparent;
}
.stop-listing-block .stop-title a:first-child {
	display: none;
}
.stop-listing-block .stop-title a.active, 
.stop-listing-block .stop-title a:hover {
	color: black;
	border-left: 3px solid #ffd74e;
}

.stop-listing-block .stop-type-icon {
	width: 25px;
	height: 25px;
	left: 5px;
	top: 50%;
	background-size: auto 100%;
	margin-top: -13px;
}

.stop-listing-block  {
	margin: 0;
}

/*   -----------------------------        Map Page       -----------------------------  */

.level {
	border-bottom: 1px solid rgba(0,0,0,.5);
	padding-bottom: 2em;
	padding-top: .25em;
}
	.level__block {
		width: 49%;
		float: left;
		margin-right: 1%;
		min-height: 200px;
	}
		.level__block h3 {
			margin-bottom: .5em;
		}

.map-header-nav {
    margin-bottom: 0;
}
    .level-selection {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
        .level-selection li {
            display: inline;
            margin-right: 4%;
        }
        .level-selection li:last-child {
            margin-right: 0;
        }
            .level-nav {
                cursor: pointer;
            }
                .level-nav img {
                    width: 75px;
                    max-width: 18%;
                    opacity: .5;
                }
                .level-nav img:hover {
                    opacity: 1;
                }

.back-to-top {
    clear: both;
    text-align: right;
}
    .inter-nav-top {
        cursor: pointer;
        font-weight: bold;
    }
    .inter-nav-top:after {
        content: "↑";
        padding: 0 .5em;
    }

/*   -----------------------------      Error Pages     -----------------------------   */

/* Show image banner on 404 error page */
.page-node-2056 #navigation { display: block; }
.page-node-2056 .page-body .page-title { display: none; }





/*   =============================        SIDEBAR        =============================  */

aside {
	font-size: .9em;
}
	aside .views-row {
		margin-bottom: 1em;
	}
	aside h3 {
		font-weight: bold;
	}

.region-sidebar-first {
	margin: 0px;
	padding: 15px;
}
.region-sidebar-first h2 {
	margin: 1em 0;
}

#sidebar-first .views-field-title-field {
	font-weight: bold;
}




/*   =============================        FOOTER        =============================   */

#footer {
	padding: 0;
}
.region-footer {
	color: #F7F0D5;
	text-align: center;
	font-size: .85em;
	padding: 30px 0 25px;
}
.region-footer a {
	color: #ffd74e;
}
.region-footer ul {
	list-style-type: none;
	text-align: center;
}
.region-footer li {
	display: inline-block;
	margin-right: 1em;
}

.find-an-object {
	font-size: 2em;
}



/*   =============================        SPECIAL        =============================  */


/*   -----------------------------        Keypad        -----------------------------   */

#keypad-wrapper {
	width: 350px;
	left: 50%;
	margin-left: -185px;
	margin-top: 100px;
	max-width: 95%;
	z-index: 50;
	padding: 15px 2.5%;
	display: block;
	position: absolute;
	border-radius: 5px;
}
.keypad {
	height: 200px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.keypad-button {
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: rgba(0, 0, 0, .5);
	width: 30%;
	height: 70px;
	font-size: 4em;
	border: 4px solid #334254;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: rgba(255, 255, 255, 0.3);
}
.pressed {
	background-color: #FFD74E;
}
#keypad-display {
	width: 3em;
	background-color: white;
	color: black;
	font-size: 2.5em;
	border: 0px solid black;
	margin: 4px;
	height: 40px;
	padding: auto .1em;
}
.long-button {
	font-size: 2em;
}


/* Keypad display controls */
.key-show-hide, 
.tour-index-button a {
	width: 49px;
	position: absolute;
	top: -8px;
	z-index: 20;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 0px;
	height: 45px;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-o-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}
.key-show-hide {
	right: 10px;
}
.tour-index-button a {
	left: 10px;
	background-image: url('../images/list.png');
}
.key-show-hide:hover, 
.tour-index-button a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.pad {
	background-image: url('../images/keypad.png');
}
.list {
	background-image: url('../images/list.png');
}
.x {
	background-image: url('../images/X.png');
}
.region-header .x {
	display: none;
}



/*   -----------------------------         Maps         -----------------------------   */


svg {
	font-family: Helvetica, Arial, sans-serif;
}
.map {
	width: 100%;
	min-width: 200px;
	height: 50%;
}
.room {
	fill: azure;
	opacity: 0;
  	stroke: lightsteelblue;
  	stroke-width: 1;
}
.room:hover {
	opacity: .5;
}	




/*   =============================      RESPONSIVE      =============================   */


@media screen and (max-width: 940px) {
	#container { margin: 0; }
	#container, .region-header, .region-footer { border-radius: 0px; }
}


@media screen and (min-width: 701px) {
	#keypad-wrapper {
		border-radius: 7px;
		box-shadow: 5px 5px 7px rgba(0,0,0,.5);
	}
	.x { top: 0; }
}


@media screen and (max-width: 700px) {
	body.sidebar-first #main { width: 100%; float: none; }
	#main > .content { padding: 0px; }
	body.sidebar-first #sidebar-first { width: 100%; float: none; }
	#container { width: 100%; }
	h1 { font-size: 3em; }
	#block-search-form { display: none; }
	#navigation { height: 100px; }
	.page-body { padding: 10px; }
}


@media screen and (max-width: 600px) {	
	body { font-size: 14px; }
	.region-header { padding: 10px 0; }
		#header #logo { 
			width: 100% !important;
			text-align: center;
			display: inline-block;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}
			.stop-page #header #logo { margin-left: 0; }
		ul.menu { padding: 0;}
		
	.main-nav-menu {
		width: 100%;
		text-align: center;
		margin-top: 40px !important;
	}
		.main-nav-menu .menu {
			text-align: center;
			margin: 0;
			padding: 0;
		}
			.main-nav-menu .leaf { display: inline; }
				.main-nav-menu .leaf a {
					padding: 3px 5px;
					margin: 0 3px;
					color: #ffd74e;
					background-color: transparent;
					-webkit-transition: none;
					-moz-transition: none;
					-o-transition: none;
					-ms-transition: none;
					transition: none;
				}
					.main-nav-menu .leaf a.active { background-color: rgba(255, 255, 255, 0.3); }
	
	.region-header .key-show-hide {
		top: 7px;
		right: 10px;
	}
/*.splash-image img {
		margin-top: -90%;
	}*/
	/*.tour-list-item { padding: 0; padding-bottom: 20px; background-color: transparent; }
		.tour-list-item__image,
		.tour-list-item__description {
			width: 100%;
			float: none;
		}
		.tour-list-item__title a {
			position: static;
			background-color: transparent;
			padding: 10px 0;
		}
	.view-tours-listing .views-row-even {
		background-color: transparent;
	}*/
	.tour-index-button a {
		top: 7px;
		left: 5px;
	}
	#keypad-wrapper {
		left: 0;
		margin: 0;
	}
		#key-show-hide, #block-views-title-block-title-block a { display: block !important; }
	.stop-page .page-body .page-title { 
		font-size: 2em;
		margin-top: 20px;
	}
}



/*   =============================      UTILITIES      =============================    */

.hidden { display: none !important; }
.ajax-progress-throbber { display: none; }
/*Hide admin tabs for anonymous users*/
.not-logged-in .tabs-wrapper, .not-logged-in #tap-export-tourml-form {
	display: none;
}